//=============================================================================
//== FOOTER
//=============================================================================

.footer {
    padding: 3rem 2.5rem;
    padding: 2.2rem 2.5rem;
    color: $color-white;
    background: $color-black-alt;

    &__primary {
        order: 2;

        a {
            font-weight: 500;
        }
    }

    &__secondary {
        order: 3;
    }

    &__tertiary {
        order: 1;
        margin-bottom: 1rem;
        font-family: $font-2;
        font-size: 1.8rem;
    }

    &__link {
        color: $color-white;
        text-decoration: none;
        line-height: 1.6;
    }

    &__icon {
        margin-right: 1rem;
        font-size: 1.2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    @include breakpoint(lg) {
        padding: 3rem 2.5rem;

        &__primary {
            order: 1;
        }
    
        &__secondary {
            order: 2;
            margin-left: 5rem;
        }
    
        &__tertiary {
            order: 3;
            margin-left: 10rem;
        }

        &__item {
            margin-left: 2.5rem;
        }

        ul {
            display: flex;
            margin-top: 3rem;
        }

        .container {
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}