//=============================================================================
//== SECTIONS
//=============================================================================

//== SECTION - LOCATION

.section-location {
    padding: 1.5rem;
    background: $color-grey-light;
    text-align: center;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);

    p {
        color: $color-black-alt;
        font-size: 1.6rem;
        font-weight: 500;

        i {
            padding-right: 1rem;
        }
    }
}

//== SECTION - DISCOVER

.section-discover {
    padding: 4rem 3rem 6rem 3rem;
    background: $color-background;
    text-align: center;

    h1 {
        padding: 0 1.5rem;
    }

    p {
        color: $color-black-alt;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .btn {
        margin-top: 3rem;
    }

    @include breakpoint(lg) {
        padding: 3rem;
    }
}

//== SECTION - FILTERS

.section-filters {
    padding: 4.8rem 2rem 4.6rem 2rem;
    background: $color-white;

    ol {
        display: flex;
        flex-direction: column;
        counter-reset: steps;

        button {
            position: relative;
            width: 100%;
            padding-left: 3.8rem;
        }

        li {
            position: relative;
            width: 100%;
            padding-left: 1.2rem;

            &::before {
                position: absolute;
                top: calc(50% - 1.2rem);
                left: .1rem;
                transform: translateY(-50%);
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.4rem;
                height: 2.4rem;
                color: $color-white;
                background: $color-1;
                font-size: 1.4rem;
                font-weight: 500;
                border-radius: 1.5rem;
                counter-increment: steps;
                content: counter(steps);
            }
        }
    }

    @include breakpoint(lg) {
        ol {
            flex-direction: row;
            justify-content: space-between;

            li {
                width: calc((100% / 3) - 1.5rem);
            }
        }
    }
}

