//=============================================================================
//== SECTIONS
//=============================================================================

//== SECTION - LOCATION

.section-location {
    padding: 1.5rem;
    background: $color-grey-light;
    text-align: center;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);

    p {
        color: $color-black-alt;
        font-size: 1.6rem;
        font-weight: 500;

        i {
            padding-right: 1rem;
        }
    }
}

//== SECTION - DISCOVER

.section-discover {
    padding: 4rem 3rem 6rem 3rem;
    background: $color-background;
    text-align: center;

    h1 {
        padding: 0 1.5rem;
    }

    p {
        color: $color-black-alt;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .btn {
        margin-top: 3rem;
    }

    @include breakpoint(lg) {
        padding: 3rem;
    }
}

