//=============================================================================
//== BUTTONS
//=============================================================================

//== BUTTONS - ALL

.btn {
  display: inline-block;
  padding: 1.3rem 1.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

//== BUTTONS - 1

.btn-1 {
  color: $color-white;
  background: linear-gradient(177deg, $color-2 -30%, $color-1 123.93%);
  box-shadow: 0 0.4rem 1rem 0 rgba($color-black, 0.25);
  border-radius: 3rem;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 0.4rem 1rem 0 rgba($color-black, 0.35);
  }
}

//== BUTTON - FILTER

.btn-filter {
  margin-bottom: 2.4rem;
  padding: 2.8rem 1.8rem;
  background: $color-grey-lighter;
  box-shadow: 0 0.4rem 1.5rem 0 rgba($color-black, 0.15);
  border-radius: 2rem;
  text-align: left;
  transition: box-shadow 0.2s ease-in-out;

  i {
    width: 2.5rem;
    color: $color-grey;
    font-size: 1.8rem;
    transition: color ease-in-out 0.3s;
  }

  span {
    font-weight: 600;
  }

  &:hover {
    box-shadow: 0 0.4rem 1rem 0 rgba($color-black, 0.25);

    i {
      color: $color-1;
    }
  }

  @include breakpoint(sm) {
    padding: 2.8rem 3rem;

    i {
      width: 3.4rem;
    }
  }
}

//== BUTTON - FAVORIS

.btn-fav {
  padding: 0;
  background: none;
  font-size: 2rem;

  i {
    position:absolute;
    top: 0;
    right: 0;
    transition: opacity .4s ease-in-out;

    &:nth-child(1) {
      opacity: 1;
    }

    &:nth-child(2) {
      opacity: 0;
      color: transparent;
      background: radial-gradient(circle 2.5rem at bottom center, $color-2, $color-1);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  &:hover {
    i {
      &:nth-child(1) {
        opacity: 0;
      }
  
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}
