//=============================================================================
//== DEFAULT
//=============================================================================

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: $color-text;
  background: $color-background;
  font-family: $font-1;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

a {
  color: $color-link;
}
