//=============================================================================
//== DEFAULT
//=============================================================================

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: $color-text;
  background: $color-background;
  font-family: $font-1;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
}

h2 {
  margin-bottom: 2.6rem;
  font-size: 2.4rem;
}

a {
  color: $color-link;
}

@include breakpoint(lg) {
  h1 {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
}